[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
asgiref="*"
certifi="*"
chardet="*"
coreapi="*"
coreschema="*"
Django="*"
djangorestframework="*"
drf-yasg="*"
idna="*"
inflection="*"
itypes="*"
Jinja2="*"
MarkupSafe="*"
packaging="*"
Pillow="*"
pip="*"
pkg-resources="*"
psycopg2-binary="*"
pyparsing="*"
pytz="*"
PyYAML="*"
requests="*"
ruamel.yaml="*"
ruamel.yaml.clib="*"
setuptools="*"
sqlparse="*"
uritemplate="*"
urllib3="*"

[requires]
python_version = "3.8"